.testimonial {
  margin: $sp-4 auto;
  background-color: $lightGrey-2;
  height: 750px;
  padding: $sp-3 0;
  h3 {
    margin: $sp-4 0;
  }
  // .testmnl_list {
    
    
  // }

  .testmnl_partner {
    text-align: center;
    padding: $sp-4 0;
    .testmnl_partner-logo {
      display: flex;
      justify-content: space-between;
      margin: $sp-4 auto;
    }
    .testmnl_coop {
      width: 100%;
      display: flex;
      .testmnl_coop-item {
        width: 50%;
        padding: $sp-5 *2 $sp-5 *4;
        h4 {
          @include Text($h6 +2, $fw-normal, black);
        }
        p {
          @include Text($regular,$fw-normal, black);
        }
      }
      .teacher {
        border-right: solid 1px #ccc;
      }
    }

  }
}
.testmnl_item {
      background-color: white;
      padding: $sp-5;
      height: 250px;
      .testmnl_person {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: $sp-3;
        .ava1 {
          background: url(../../Assets/img/person1.jpg);
        }
        .ava2 {
          background: url(../../Assets/img/person2.jpg);
        }
        .ava4 {
          background: url(../../Assets/img/person4.jpg);
        }
        .ava5 {
          background: url(../../Assets/img/person5.jpg);
        }
        .ava {
          width: 60px;
          height: 60px;
          background-color: $grey-2;
          border-radius: 50%;
          color: white;
          text-align: center;
          align-items: center;
          position: relative;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          span {
            margin: 0;
            @include Text($h6,$fw-bold,white);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        p {
          margin: 0 $sp-4;
          @include Text($regular, $fw-bold,$grey);
        }
      }
    }